body
{
background-position: center;
background-size: cover;
}

.heading {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}


.heading h3{
    display: inline;
    font-size: 22px;
}

.heading button{

    float: right;
    border: 1px solid white;
}

.instruction_image{

    display: inline-block;
    width: 45%;
}

.modal-dialog{

    width: 90%;
}

.copy_right_footer{

    position: fixed;
    background-color: gray;
    line-height: 3;
    width: 100%;
    bottom: 0px;
    color: #000;
    text-align: center;
}

canvas{
    border: 3px solid white;
    border-radius: 20px;
    box-shadow:5px 5px 5px grey ;
}



